<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <a>Ваша корзина</a>
    <a> {{shopping_cart}}</a>
    <br>
    <a>------------------</a>
    <br>
    {% for o in products %}
    <a>Название: {{o.fields.name}}</a>
    <br>
    <a>Описание: {{o.fields.description}}</a>
    <br>
    <a>Цена: {{o.fields.price}}</a>
    <br>
    <a>Кол-во: {{o.fields.amount}}</a>
    <br>
    <a href="/remove_from_cart/{{o.pk}}">-1</a>
    <a href="/add_to_cart/{{o.pk}}">+1</a>
    <br>
    <a>------------------</a>
    <br>
    {% endfor %}
    <a>Общая цена: {{price}}</a>
    <br>
    <a href="/delete_cart">Очистить корзину</a>
    <br>
    <a href="/">Вернуться к товарам</a>
  </body>
</html>
