<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <br>
    <a>------------------</a>
    <br>
    {% for o in products %}
    <a>Название: {{o.fields.name}}</a>
    <br>
    <a>Описание: {{o.fields.description}}</a>
    <br>
    <a>Цена: {{o.fields.price}}</a>
    <br>
    <a href="/product/{{o.pk}}">Подробнее</a>
    <br>
    <a href="/add_to_cart/{{o.pk}}">Добавить в корзину</a>
    <br>
    <a>------------------</a>
    <br>
    {% endfor %}
    <a href="/delete_cart">Очистить корзину</a>
    <br>
    <a href="/cart">Перейти в корзину</a>
  </body>
</html>
